body {
  font-family: 'Jua', sans-serif;
  background-color: #ffffff;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.file-upload {
	margin: 0 auto;
	padding:13% 3%;
	/* height: 70vw; */
	border-radius: 10px;
	border: solid 1.5px #f6f7fa;
	background-color: #f6f7fa;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
	width: 63%; 
	margin: 0 auto;
  position: relative;
	object-fit: contain;
	border-radius: 10px;
	border: dashed 1.5px #35465d;
	background-color: #ffffff;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #35465d;
  border: 1.5px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
	width: 50%;
  font-weight: 100;
  text-transform: uppercase;
  color: #15824B;
	font-family: Jua;
	font-size: 2rem;
	line-height: 1.53;
	text-align: center;
	color: #35465d;
	margin: auto;
}

.file-upload-image {
  max-height: 60%;
  max-width: 60%;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}
.nav-distance {
	padding: 2.1% 7.7%
}
.navbar-light .navbar-brand {
	font-family: Jua;
	line-height: 1.68;
	text-align: left;
	color: #35465d;
}
.navbar-light .navbar-toggler{
	border-color: #ffffff
}
.section {
	margin-top: 100px;
}
.title {
	font-family: Jua;
	font-size: 44.5px;
	line-height: 1.67;
	text-align: center;
	color: #35465d;
}

.subtitle {
	font-family: Jua;
	font-size: 33px;
	line-height: 1.53;
	text-align: center;
	color: #35465d;
}

.upload-text {
	width: 50%;
	font-family: Jua;
	font-size: 2.5rem;
	line-height: 1.53;
	text-align: center;
	color: #35465d;
	margin: 0 auto;
}
.footer {
    background-color: initial;
    color: initial;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
	.navbar-brand {
		font-size: 2rem;	
	}
}

.result-message {
    font-size: 2rem;
}


.animal-explain {
    font-size: 1.5rem;
}
.꼬부기타 {
    color: #3ba363;
}
.꼬부기셀 {
    color: #3ba363;
    font-size: 1.2rem;
}
.리자몽타 {
    color: #3ba363;
}
.리자몽셀 {
    color: #3ba363;
    font-size: 1.2rem;
}
.피카츄타 {
    color: #ff6c0a;
}
.피카츄셀 {
    color: #ff6c0a;
    font-size: 1.2rem;
}
.치코리타 {
    color: #548dd4;
}
.치코리셀 {
    color: #548dd4;
    font-size: 1.2rem;
}
.파이리타 {
    color: #e56995;
}
.파이리셀 {
    color: #e56995;
    font-size: 1.2rem;
}
.잠만보타 {
    color: #9b6b43;
}
.잠만보셀 {
    color: #9b6b43;
    font-size: 1.2rem;
}
